<nav>
  <div class="nav-wrapper">
    <a href="/">
      <h2>HomeOffice Checkin</h2>
    </a>

    <div>
      <span *ngIf="authService.currentUser$ | async as user" class="user"
        >Hello {{ user.userName }}</span
      >
      <button *ngIf="(authService.currentUser$ | async) === null">
        <a href="/login">Login</a>
      </button>
      <button
        (click)="signOut()"
        *ngIf="(authService.currentUser$ | async) !== null"
      >
        Logout
      </button>
    </div>
  </div>
</nav>
