<div class="login">
  <div class="wrapper">
    <h2>Login</h2>
    <span *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</span>
    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
      <input
        formControlName="username"
        (focus)="onFocus()"
        type="text"
        placeholder="Username"
      />
      <input
        formControlName="password"
        (focus)="onFocus()"
        type="password"
        placeholder="Password"
      />
      <button type="submit">Login</button>
    </form>
  </div>
</div>
