<div class="details">
  <div class="details-wrapper">
    <h4>Übersicht für {{ authUser?.userName }}</h4>
    <button (click)="onCloseCheckinDetails()" class="nav-back-btn">
      <i class="fa-solid fa-left-long back-icon"></i>Start/Stop
    </button>

    <div class="calendar-wrapper">
      <span>Datum wählen</span>
      <input
        class="datepicker"
        type="date"
        [(ngModel)]="selectedDate"
        [value]="currentDate"
      />
      <button (click)="loadHomeOfficeTimes()">Ok</button>
    </div>

    <div class="times-wrapper">
      <span class="current-date">18.03.2024</span>
      <div class="current-date-times">
        <span *ngFor="let time of homeOfficeTimes"
          >{{ time.startTime }} - {{ time.endTime }} Uhr</span
        >
      </div>
    </div>
  </div>
</div>
