<div class="details">
  <div class="details-wrapper">
    <h4>Übersicht für Mustermann</h4>
    <button class="nav-back-btn">
      <i class="fa-solid fa-left-long back-icon"></i>Start/Stop
    </button>

    <div class="calendar-wrapper">
      <span>Datum wählen</span>
      <input type="date" />
      <button>Ok</button>
    </div>

    <div class="times-wrapper">
      <span class="current-date">18.03.2024</span>
      <div class="current-date-times">
        <span>08:00-12:00 Uhr</span>
        <span>12:45-14:30 Uhr</span>
        <span>15:00-17:00 Uhr</span>
      </div>
    </div>
  </div>
</div>
