<div class="checkin">
  <div class="actions-panel">
    <div class="actions">
      <button
        class="start-btn"
        [disabled]="homeOfficeStarted"
        (click)="startHomeOffice()"
      >
        <i class="fa-solid fa-play icon"></i>
      </button>
      <button
        class="stop-btn"
        [disabled]="!homeOfficeStarted"
        (click)="stopHomeOffice()"
      >
        <i class="fa-solid fa-stop icon"></i>
      </button>
    </div>
    <button (click)="onHomeOfficeTimeDetails()">Übersicht</button>
  </div>
</div>
